*{
    margin:0px;
    padding:0px;
}

.parent_container{
    background-color:aqua;
    width:100vw;
    height: 100vh;
    padding:10px;
}

.container{
    width:50vw;
    height: 50vh;
    background:linear-gradient(gray,black);
    border-radius: 5px;
    margin:200px auto ;
    display: flex;
    flex-direction: column;
    

}
.hr{
    display: flex;
    justify-content: center;
}
hr{
    width:30%;
    color:aqua;
    
}
.input{
    display: flex;
    justify-content: center;

}
input{
    width:70%;
    margin-top: 30px;
    /* margin:20px; */
    padding:10px;
    /* background-color:transparent; */
    /* color:white; */
    border:2px solid aqua;
    border-radius: 8px;
}

input:focus{
    outline: none;
    background:linear-gradient(gray,aqua);
    color:black;
    color:white;
}


h2{
    color:aqua;
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;

}

button{
    width:20vw;
    padding:10px;
    background: linear-gradient(gray,aqua);
    border:none;
    border-radius: 9px;
    margin-top: 20px;

}

#result{
    color:white;
    margin:20px;
    display: flex;
    justify-content: center;
}