
<body>
    

<div class="container">
{{#if msg}}
        <div class="alert">{{msg}}</div>
 {{/if}}
<h3>Add New User</h3>

<form action="adduser" method="post">
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name">
</div>

<div class="form-group">
    <label for="age">Age</label>
    <input type="text" name="age">
</div>


<div class="form-group">
    <label for="city">City</label>
    <input type="text" name="city">
</div>

<div class="form-group">
    <button type="submit">Save Details</button>
    {{#if msg}}
        <a href="/" class="View Details">Back</a>
    {{/if}}

</div>



</form>
</div>

</body>

